/*Footer */
footer {
    padding: 2rem;
    background-color: var(--card-bg);
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

footer p {
    color: var(--muted-text);
    font-size: 0.9rem;
    margin: 0;
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        gap: 0;
        text-align: left;
        justify-content: space-around;
    }
}