/* HERO */
.hero h1 {
    font-size: 3rem;
    font-weight: 600;
}

.under-line {
    border-bottom: 5px solid var(--accent-color);
}

.project-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    font-weight: 400;
    border: 3px solid var(--accent-color);
    border-radius: 35px;
    margin-bottom: 2rem;
}

.project-btn:hover {
    color: var(--accent-color);
    border-color: var(--text-color);
    transform: translateY(-4px);
}

.social-link ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (min-width: 1000px) {
    .hero {
        text-align: left;
        padding: 0 2rem;
    }

    .hero h1 {
        font-size: 5rem;
    }

    .social-link ul {
        justify-content: flex-start;
    }

    .project-btn {
        text-align: center;
    }
}
